<h2>Listing contents</h2>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Content</th>
      <th>Content no</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for content <- @contents do %>
    <tr>
      <td><%= content.category %></td>
      <td><%= content.content %></td>
      <td><%= content.content_no %></td>

      <td class="text-right">
        <%= link "Show", to: content_path(@conn, :show, content), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: content_path(@conn, :edit, content), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: content_path(@conn, :delete, content), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New content", to: content_path(@conn, :new) %>
