<h2>Show content</h2>

<ul>

  <li>
    <strong>Category:</strong>
    <%= @content.category %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @content.content %>
  </li>

  <li>
    <strong>Content no:</strong>
    <%= @content.content_no %>
  </li>

</ul>

<%= link "Edit", to: content_path(@conn, :edit, @content) %>
<%= link "Back", to: content_path(@conn, :index) %>
