<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <p class="alert alert-danger">
      خطا در ایجاد جواب جدید
    </p>
  <% end %>

  <div class="form-group">
    <%= label f, :answer, class: "control-label" %>
    <%= text_input f, :answer, class: "form-control" %>
    <%= error_tag f, :answer %>
  </div>

  <div class="form-group">
    <%= label f, :answer_reply, class: "control-label" %>
    <%= text_input f, :answer_reply, class: "form-control" %>
    <%= error_tag f, :answer_reply %>
  </div>

  <div class="form-group">
    <%= label f, :point, class: "control-label" %>
    <%= number_input f, :point, min: 0, max: 10000, step: 10, class: "form-control" %>
    <%= error_tag f, :point %>
  </div>

  <div class="form-group">
    <%= label f, :question_id, class: "control-label" %>
    <%= select f, :question_id, @questions, class: "form-control" %>
    <%= error_tag f, :question_id %>
  </div>

  <%= submit "ارسال", class: "btn btn-primary" %>
<% end %>
