<table class="table table-striped">
  <thead>
    <tr>
      <th>answer</th>
      <th>reply</th>
      <th>point</th>
      <th>question id</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <%= for answer <- @answers do %>
      <tr>
        <td><%= answer.answer %></td>
        <td><%= answer.answer_reply %></td>
        <td><%= answer.point %></td>
        <td><%= answer.question_id %></td>
        <td><a href="<%= answer_path(@conn, :edit, answer.id)%>">Edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= answer_path(@conn, :new) %>" class="btn btn-primary">جواب جدید</a>
