<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <p class="alert alert-danger">
      خطا در ایجاد آزمون جدید
    </p>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <%= submit "ارسال", class: "btn btn-primary" %>
<% end %>
