<%= for exam <- @exams do %>
  <h1><%= exam.name %></h1>
  <%= for question <- exam.questions do %>
    <p><%= question.question %></p>
  <%= end %>
<% end %>

<a href="<%= exam_path(@conn, :new) %>" class="btn btn-primary">آزمون جدید</a>
