<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>خطا در ایجاد سوال جدید</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :question, class: "control-label" %>
    <%= textarea f, :question, class: "form-control" %>
    <%= error_tag f, :question %>
  </div>

  <div class="form-group">
    <%= label f, :question_no, class: "control-label" %>
    <%= number_input f, :question_no, min: "1", max: "100", class: "form-control" %>
    <%= error_tag f, :question_no %>
  </div>

  <div class="form-group">
    <%= label f, :exam_id, class: "control-label" %>
    <%= select f, :exam_id, @exams, class: "form-control" %>
    <%= error_tag f, :exam_id %>
  </div>

  <div class="form-group">
    <%= submit "ارسال", class: "button" %>
  </div>
<% end %>
